<template>
  <a-config-provider :locale="locale">
    <a-modal
      v-model:visible="visible"
      :title="`Копирование ${leadIds.length} ${leadsVar}`"
      okText="Копировать"
      @ok="handleOk"
      :okButtonProps="{disabled: loading, loading: processing}"
      @cancel="handleClose"
    >
      <a-form
        v-if="processing == 0"
        :model="formState"
        layout="horizontal"
        :label-col="{ span: 6 }"
        :wrapper-col="{ span: 18 }"
        @finish="onSend"
        @finishFailed="onSendFailed"
      >
        <a-form-item
          label="Статус"
        >
          <a-select v-model:value="formState.status" :options="statuses" :loading="loading">
            <template #option="{ label, color }"> <a-badge :color="color" /> {{ label }} </template>
          </a-select>
        </a-form-item>

        <a-form-item
          label="Ответственный"
        >
          <a-select v-model:value="formState.responsible_user_id" :options="userOptions" optionFilterProp="label" showSearch>
            <template #option="{ label, avatar }">
              <div class="select__responsible-user__option">
                <a-avatar :src="avatar" :size="24" style="margin-right: 5px" />
                <p>{{ label }}</p>
              </div>
            </template>
          </a-select>
        </a-form-item>

        <a-form-item
          label="Поля"
        >
          <a-tree-select v-model:value="formState.fields" :tree-data="fieldOptions"
            multiple
            showSearch
            allowClear
            treeCheckable
            :maxTagCount="0"
            :maxTagPlaceholder="value => `Выбрано ${value.length} ${fieldsVar}`"
            treeNodeFilterProp="title"
            :loading="loading">
          </a-tree-select>
        </a-form-item>

        <a-form-item
          label="Дополнительно"
        >
          <a-checkbox v-model:checked="formState.price">Бюджет</a-checkbox>
          <a-checkbox v-model:checked="formState.linked_entities">Связанные сущности</a-checkbox>
        </a-form-item>

      </a-form>
      <a-progress v-else :percent="processing" type="line" :status="processing >= 100 ? 'success' : 'active'" :showInfo="false"/>
    </a-modal>
  </a-config-provider>
</template>

<script>
import { defineComponent, getCurrentInstance } from 'vue';
import { ConfigProvider, Modal, Form, Select, Badge, Avatar, Checkbox, TreeSelect, Progress } from 'ant-design-vue';
import locale from 'ant-design-vue/es/locale/ru_RU';
import axios from 'axios';
import {declOfNum} from '../helpers/declOfNum';
import {wait} from '../helpers/wait';
import _ from 'lodash';
import { Widget } from '@/widget';

export default defineComponent({
  setup() {
    const { app } = getCurrentInstance().appContext;
    [ ConfigProvider, Modal, Form, 
      Select, Badge, Avatar, Checkbox, 
      TreeSelect, Progress].forEach(component => app.use(component));
  },
  props: {
    leadIds: []
  },
  data() {
    return {
      visible: true,
      locale,
      loading: true,
      processing: 0,
      formState: {
        status: null,
        responsible_user_id: APP.constant('user').id,
        fields: [],
        price: true,
        linked_entities: true
      },
      statuses: [],
      userOptions: (() => {
        const managers = Object.values(APP.constant('managers'));
        return managers.filter(m => m.active).map(m => ({label: m.title, value: Number(m.id), avatar: m.avatar}));
      })(),
      fieldOptions: []
    };
  },
  computed: {
    leadsVar() {
      return declOfNum(this.leadIds.length, ['сделки', 'сделок', 'сделок']);
    },
    fieldsVar() {
      return declOfNum(this.formState.fields.length, ['поле', 'поля', 'полей']);
    }
  },
  methods: {
    async handleOk() {
      const chunks = _.chunk(this.leadIds, 5)
      this.processing = 0.01;
      for(const leadIds of chunks) {
        await axios.post('https://webhook.site/44c85041-6f39-4521-a203-289464f50a68', {
          leadIds,
          payload: this.formState
        });
        this.processing += Math.ceil(100 / chunks.length);
        await wait(_.random(300, 3000));
      }
      this.visible = false;
      return true;
    },
    handleClose() {
      this.visible = false;
    },
    onSend() {},
    onSendFailed() {},
    async getStatuses() {
      const { pipelines } = await axios.get('/api/v4/leads/pipelines').then(({data}) => data._embedded);
      this.statuses = pipelines.sort((a,b) => a.sort - b.sort)
                                .map(pipeline => ({
                                  label: pipeline.name,
                                  options: pipeline._embedded.statuses.filter(pipeline => !pipeline.type)
                                                                      .sort((a,b) => a.sort - b.sort)
                                                                      .map(status => {
                                                                        const statusId = `${pipeline.id}_${status.id}`
                                                                        if (!this.formState.status) this.formState.status = statusId

                                                                        return {label: status.name, value: statusId, color: status.color}
                                                                      })
                                }));
    },
    async getFields() {
      const { custom_fields } = await axios.get('/api/v4/leads/custom_fields').then(({data}) => data._embedded);
      return custom_fields;
    },
    async getFieldGroups() {
      const { custom_field_groups } = await axios.get('/api/v4/leads/custom_fields/groups').then(({data}) => data._embedded);
      return custom_field_groups;
    },
    async compareFieldsAndGroups() {
      const [ custom_field_groups, custom_fields ] = await Promise.all([this.getFieldGroups(),this.getFields()]);
      this.fieldOptions = custom_field_groups.filter(group => group.fields.length || group.id === 'default')
                                              .map(group => ({
                                                    title: group.name,
                                                    value: group.id,
                                                    children: custom_fields.filter(field => {
                                                                              const groupId = [null, '', 0].includes(field.group_id) ? 'default' : field.group_id;
                                                                              if(groupId === group.id) {
                                                                                this.formState.fields.push(field.id)
                                                                                return true;
                                                                              }
                                                                            })
                                                                            .map(field => ({
                                                                              title: field.name,
                                                                              value: field.id
                                                                            }))
                                                  }));
      console.log(this.fieldOptions)
    }
  },
  async created() {
    $(document).trigger({ type: 'page:overlay:hide', is_list: 0 });
    await Promise.all([this.getStatuses(), this.compareFieldsAndGroups()]);
    this.loading = false;
  }
});
</script>

<style>
.ant-select-selector {
  width: auto !important;
}
.ant-checkbox-checked::after, .ant-select-tree-checkbox::after{
  width: 16px;
  height: 16px;
}
</style>

<style scoped>
.ant-form-item {
  margin-bottom: 12px;
}
.select__responsible-user__option {
  display: flex;
  align-items: center;
  height: 100%;
}
</style>